/*------------------
   fieldreview modal start
---------------------*/

.reviewmodal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
}

.review_modal_content {
  width: 1000px;
  height: 900px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -200px;
  text-align: center;
  box-sizing: border-box;
  padding: 50px 0;
  line-height: 23px;
}

/*#loginSet img, #signIn {*/
/*  cursor: pointer;*/
/*}*/

/*#signIn {*/
/*  font-size: 14px;*/
/*}*/

#backtofield {
  margin-top: 20px;
  font-size: 15px;
  padding: 10px 20px;
}

/*------------------
  fieldreview modal end
---------------------*/